#container {
  display: flex;
}

#grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
}

#mini-grid {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4f4;
}

#grid div {
  width: 20px;
  height: 20px;
}

#mini-grid div {
  width: 20px;
  height: 20px;
}


.tetromino {
  background-color: blue;
}

/* .taken {
  background-color: red;
} */
